<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: header"></nav>

<h1>Add Score</h1>

<form method="post" style="max-width:600px;">
  <div class="form-group">
    <label th:for="score">Score</label>
    <input class="form-control" th:field="${score.score}" />
    <span th:errors="${score.score}" class="error"></span>
  </div>

  <div class="form-group" id="userSelection">
    <label th:for="user">User</label>
    <select name="userId">
      <option value="0"> </option>
      <option th:each="user : ${users}"
              th:text="${user.username}"
              th:value="${user.id}"></option>
    </select>
  </div>


  <input type="submit" value="Add Score" />
</form>

</body>
</html>