<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: header"></nav>

<h1>Add Team</h1>

<form method="post" style="max-width:600px;"> <!--need to add other things to form-->
    <div class="form-group">
        <label th:for="firstName">First name</label>
        <input class="form-control" th:field="${team.firstName}" id="firstName" />
        <span th:errors="${team.firstName}" class="error"></span>

        <label th:for="lastName">Last name</label>
        <input class="form-control" th:field="${team.lastName}" id="lastName"/>
        <span th:errors="${team.lastName}" class="error"></span>

    </div>


    <input type="submit" value="Add Team" />
</form>

</body>
</html>