<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: header"></nav>

<form method="post" style="max-width:600px;">
    <div class="form-group">
        <label th:for="team">Team name:</label>
        <input class="form-control" th:field="${team.name}" id="team" />
        <span th:errors="${team.name}" class="error"></span>
    </div>

    <div class="form-group">
        <label th:for="users">Users:</label>
        <th:block th:each="user : ${users}">
            <input type="checkbox" name="users" th:value="${user.id}"/>
            <label th:text="${user.username}"></label>
        </th:block>
    </div>

    <input type="submit" value="Add Team" />
</form>

</body>
</html>