<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: header"></nav>

<h1>FAQ PAGE</h1>
<h3> Welcome to LaunchBowl </h3>
<p1> Our app offers users a simple way of setting up and maintaining a
  bowling league.</p1>

<h3> Story Behind LaunchBowl</h3>
<p> <b>Thomas McKune--</b> "I decided to make this app because my current bowling league uses a web app which is very user unfriendly.
  The app constantly crashes and is filled with ads making it very difficult to navigate.
  There are also a lot of bowling leagues that don't utilize any kind of web application and rely on weekly paper printouts.
  This app would be beneficial for anyone in a bowling league."
</p>
<h3>Features: </h3>
<p> 1) Create Teams </p>
<p> 2) Assign Users to teams </p>
<p> 3) View Teams and Schedules </p>
<p> 4) Add Scores </p>
<p> 5) Database - User information as well as scores are stored in a database</p>

<h3> App Design:</h3>
<p> 1) Java</p>
<p> 2) MySQL Database </p>
<p> 3) HTML/CSS </p>
<p> 4) ThymeLeaf</p>

<div class= "developImg" >
  <iframe loading="lazy" style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
          src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFVJIcqdj4&#x2F;view?embed" allowfullscreen="allowfullscreen" allow="fullscreen">
  </iframe>
</div>
<a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFVJIcqdj4&#x2F;view?utm_content=DAFVJIcqdj4&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link" target="_blank" rel="noopener">
</a>

<br/>
<br/>
<br/>
<div class="whiteSpace">
<p></p>
</div>
</body>
</html>