<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!--edit meta tag?-->
    <title>Title</title>
</head>
<body>

<h1>Login</h1>

<form action="" method="get"> <!--onsubmit attribute?-->
    <div> <!--need to include a div class?-->
        <label for="submit">Username</label> <!--might need to work on errors here-->
        <input type="text" class="submit" id="submit"/> <!--i dont think mvc knows that these variables exist in User model?-->
    </div>

    <div>
        <label for ="password">Password</label>
        <input type="password" class="password" id="password"/>
    </div>

    <div>
        <input type="submit" value="Log in"/>
    </div>

</form>

<div>
    <a href="register">Register here</a>
</div>

</body>
</html>