<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container body-content">

<nav th:replace="fragments :: header"></nav>

<form method="post">
    <div class="form-group">
        <label>Username
            <input class="form-control" th:field="${registerFormDTO.username}" />
        </label>
        <p class="error" th:errors="${registerFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${registerFormDTO.password}" type="password" />
        </label>
        <p class="error" th:errors="${registerFormDTO.password}"></p>
    </div>
    <div class="form-group">
        <label>Verify Password
            <input class="form-control" th:field="${registerFormDTO.verifyPassword}" type="password" />
        </label>
    </div>

<!--    <button type="button" onclick="document.getElementById('teamSelection').style.visibility = 'visible'">Register with a team</button>-->

<!--    <div class="form-group" id="teamSelection">-->
<!--        <label th:for="team">Team</label>-->
<!--        <select name="teamId">-->
<!--            <option value="0"> </option>-->
<!--            <option th:each="team : ${teams}"-->
<!--                    th:text="${team.name}"-->
<!--                    th:value="${team.id}"></option>-->
<!--        </select>-->
<!--    </div>-->
<!--    <div class="form-group">-->
<!--        <label>Team-->
<!--            <select th:field="${user.team}">-->
<!--                <option th:each="team : ${teams}"-->
<!--                        th:value="${team.id}"-->
<!--                        th:text="${team.name}"-->
<!--                ></option>-->
<!--            </select>-->
<!--            <p class="error" th:errors="${user.team}"></p>-->
<!--        </label>-->
<!--    </div>-->

<!--    <div class="form-group">-->
<!--        <label th:for="team">Team</label>-->
<!--        <th:block th:each="team : ${teams}">-->
<!--            <input type="checkbox" name="teams" th:value="${team.id}">-->
<!--            <label th:text="${team.name}"></label>-->
<!--        </th:block>-->
<!--    </div>-->

    <input type="submit" class="btn btn-primary" value="Register" />
</form>

</body>
</html>
